html,
body,
.full-height {
  height: 100%;
}
.text-inverse {
  color: #ccc !important;
}
.text-inverse:hover {
  color: #eee !important;
}
.nowrap {
  white-space: nowrap;
}
.bg-none {
  background: none;
}
.hover-sibling + .show-child {
  display: none;
}
.hover-sibling:hover + .show-child,
.hover-sibling + .show-child:hover {
  display: block;
}
.hover-parent .show-child {
  display: none;
}
.hover-parent:hover .show-child {
  display: block;
}
.absolute-thumb {
  overflow: hidden;
  height: 370px;
}
.absolute-thumb img {
  width: 100%;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
/** Your code goes here */
/** Your code goes here */
