html, body, .full-height {
	height: 100%;
}

.text-inverse {
	color: #ccc !important;

	&:hover {
		color: #eee !important;
	}
}

.nowrap {
	white-space: nowrap;
}

.bg-none {
	background: none;
}

.hover-sibling + .show-child {
	display: none;
}

.hover-sibling:hover + .show-child, .hover-sibling + .show-child:hover {
	display: block;
}

.hover-parent {
	.show-child { 
		display: none;
	}
	
	&:hover {
		.show-child { 
			display: block;
		}
	}
}

.absolute-thumb {
	overflow: hidden;
    height: 370px;
	
	img {
	    width: 100%;
	}
}

.cursor-default {
	cursor: default;
}

.cursor-pointer {
	cursor: pointer;
}